<header class="fixed-top">
  <nav class="navbar navbar-light bg-white">
      <a class="navbar-brand">ALURAPIC</a>
      <div *ngIf="(user$ | async) as user; else login">
          <i class="fa fa-user-circle mr-1"></i>
          <a class="ml-1">{{ user.name }}</a>
          <a (click)="logout()" class="btn btn-outline-danger btn-sm ml-1">Sair</a>
      </div>
      <ng-template #login>
        <span class="navbar-text">
          <a [routerLink]="['']" class="btn btn-outline-success btn-sm ml-1">Please, login!</a>
        </span>
      </ng-template>
      <div class="fixed-top">
        <app-alert></app-alert>
      </div>
  </nav>
</header>